
.root {

}

.label {
    -fx-text-fill: #1A1F71;
    -fx-font: 18pt "System";
    -fx-font-weight: bold;
    -fx-background-color: transparent;
}
#title{
    -fx-text-fill: white;
    -fx-font: 24pt "System";
    -fx-font-weight: bold;
}
#info{
    -fx-text-fill: white;
    -fx-font: 16pt "System";
    -fx-font-weight: bold;
}

#message{
    -fx-text-fill: #1A1F71;
    -fx-font: 24pt "System";
    -fx-font-weight: bold;
    -fx-background-color: transparent;
}
#totalPay{
    -fx-text-fill: #1A1F71;
    -fx-font: 18pt "System";
    -fx-font-weight: bold;
}

.table-column{
    -fx-font: 16pt "System";
    -fx-text-fill: black;

}
.column-header-background {

    -fx-background-color: white
}
.table-view .scroll-bar:vertical {
    -fx-scale-x: 0;
}

.table-view .scroll-bar:horizontal {
    -fx-scale-y: 0;
}

.table-view, .split-pane {
    -fx-background-insets: 0; -fx-padding: 0;
}

#pane{
    -fx-background-image: url("../images/background.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: stretch;
    -fx-background-size: stretch;
    -fx-background-transparent: 0.5;
    -fx-background-position: center center;

}


